# Build dirs
**/build/
**/target/

# Vendors
./c++/external/
./vendor

# Cache
**/.cache

# Generated
**/schema/*.hpp
**/schema/*.rs
**/schema/*.go
**/schema/*.odin

# Certs 
**/certs/
*.conf
*.pem

*.env

# cc
compile_commands.json

# Language servers
.clangd
ols.json
